---
title: About
---

<main class="page" id="index">
  <article class="about">
    <div class="content">
    <header>
      <h1 class="visuallyhidden">James Wilmot</h1> 
    </header>
    <p>I'm a Web Developer based in Canberra, Australia with more than 3 years
    experience building Drupal websites combined with an extensive exposure to
    a wide range of browser technologies.
    <p>I have a keen eye for technical detail combined with a methodical
    approach to problem solving and a passion for simple, maintainable
    solutions.
    <p>Technologies I consider myself professionally proficient in:
    <ul>
      <li>Drupal 7 CMS</li>
      <li>HTML5 and semantic markup</li>
      <li>CSS3</li>
      <li>SCSS with Compass and Susy grids</li>
      <li>Javascript and EmberJS</li>
      <li>Python and Django</li>
    </ul>
    <p>My interests include programming, tinkering with linux, education,
    volunteering, cycling and being out in our beautiful natural world.
    </div>


    <footer class="sidepane">
      <figure class="headshot">
        <img src="/images/me/jameswilmot_headshot.png"></img>
        <figcaption>
          <div class="name">James Wilmot</div>
          <div class="title">Web developer</div>
        </figcaption>
      </figure>
      <div class="links">
      <strong>Links:</strong>
      <ul class="profiles">
        <li>
          <i class="fa fa-github" aria-hidden="true"></i>
          <a href="https://www.github.com/JamesWilmot" target="_blank">
            JamesWilmot
          </a>
        </li>
        <li>
          <i class="fa fa-linkedin" aria-hidden="true"></i>
          <a href="https://www.linkedin.com/in/jimmywilmot" target="_blank">
            Jimmy Wilmot 
          </a>
        </li>
        <li>
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          <a href="/assets/James Wilmot Resume.pdf" target="_blank">
            Resume
          </a>
        </li>
      </ul>
      </div>
    </footer>
  </article>
</main>
